html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 15% 20% 20% 15% ;
  grid-template-areas: 
  "stat"
  "pic"
  "head"
  "title"
  "foot"
  "side";
  font-size: 30px;
}

main > section {
  background-color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#status {
  background-color: #fff;
  display: flex;
  padding-right: 50px;
  align-items: center;
  justify-content: right;
  grid-area: stat;
}

#img {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: pic;
}

img {
  border: 5px solid #2f2;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

section > p {
  margin: 10px;
}

#name {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  grid-area: head;
}

#occupation {
  background-color: #f0f0f0;
  flex-direction: column;
  grid-area: title;
}

#brand {
  display: none;
  grid-area: desc;
}

#offer {
  background-color: #fff;
  flex-direction: column;
  grid-area: foot;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: side;
}

#contact > p {
  font-size: 60px;
  margin: 0px;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#call {
  background-color: #2f2;
}

#msg {
  background-color: #0c0;
}

@media only screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 1fr;
    grid-template-rows: 20% auto auto 10%;
    grid-template-areas: 
    "stat head"
    "pic title"
    "pic desc"
    "side foot";
  }

  img {
    width: 350px;
    height: 350px;
    margin: auto 50px
  }

  #status {
    display: flex;
    padding-left: 50px;
    align-items: center;
    justify-content: left;
  }

  #brand {
    background-color: #f0f0f0;
    display: flex;
    border-left: solid #0c0;
    margin: auto 5%;
  }

  #brand > p {
    margin: auto 10px;
  }

  #name {
    background-color: #f0f0f0;
  }

  #offer {
    background-color: #f0f0f0;
  }

}